**/Properties/PublishProfiles/*.pubxml

# Ignore build outputs in all projects
**/bin/
**/obj/

# Ignore user-specific files in all projects
**/*.user
**/*.suo
**/.vs/

# Ignore environment variables files in all projects
**/.env

# Ignore IDE specific files in all projects
**/.idea/
**/.vscode/

# Ignore log files
**/*.log

# Ignore temporary files
**/*.tmp
**/*.temp